@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lato&family=Lora:ital,wght@1,700&family=Roboto:ital,wght@0,400;0,700;1,300&family=Tapestry&family=Ubuntu&display=swap');
* { 
    box-sizing: border-box; 
} 
 
html { 
    width: 100%; 
    min-height: 100%; 
} 
 
body { 
    width: inherit; 
    min-height: inherit; 
    margin: 0; 
    padding: 0; 
} 

#entete{
    width: 100%;
    height: 620px;
    background-image: url('assets/noice.PNG');
    background-position: center;
    background-size: 100% 100%;
    
    top: 0;
    left: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: #bc00dd;
    border-bottom: 3px solid #ffb600;
    height: 80px;
}

#entete{
    display: flex;
    flex-direction: column;
}

.slogan{
    margin-top: 100px;
    margin-left: 40px;
    font-size: 70px;
    color: white;
    font-family: 'Lato', 'sans serif';
    font-weight: 800;
}

.idk{
    color:#ffb600;
}

.logo{
    font-size: 25px;
    font-family: 'Koulen', cursive;
    color: #ffb600;
}

.nav{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.navelt{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.button{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: #ffb600;
    padding: 10px;
    font-size: 30px;
    border-radius: 4px;
    margin-left: 44%;
}

#desc{
    height: 500px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* .arrow{
    color: white;
    font-size: 30px;
    margin-left: 48%;
} */

.about{
    color: #ffb600;
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    font-weight: 800;
}

#ladescrip{
    display: flex;
    flex-direction: row;

    width: 70%;
    height: 68%;
    border: 4px solid #bc00dd;
    border-radius: 3px;
}

.img{
    background-image: url('assets/rocketdude.png');
    background-position: center;
    background-size: cover;
    width: 40%;
}

.ladescvrai{

    color: black;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    
}

.txt{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.nomination{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

#offers{
    width: 100%;
    height: 500px;
    background: linear-gradient(to top right, #bc00dd, purple);
    
    display: flex;
}
table{
    margin: auto;
    border-collapse: collapse;
    
}

td{
    border-radius: 4px;
    padding: 10px;
    
    padding-right: 45px;
    border: 3px solid white;
}

.plans{
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    color: #ffb600;
}

.planes{
    color: white;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
}

.sum{
    font-family: 'Ubuntu';
    font-size: 25px;
    background-color: #ffb600;
    font-weight: 800;

}

#contact{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.wanna{
    font-family: 'Lato';
    color: black;
    font-size: 40px;
    font-weight: 800;
}
.butto{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: #ffb600;
    padding: 10px;
    font-size: 30px;
    border-radius: 4px;
    text-decoration: none;
}